.password_gen_wrap{
  border: 2px solid black;
  width:700px ;
  position: absolute;
  top: 30%;
  transform: translate(-50%,50%);
  background: radial-gradient(circle, rgba(76,76,79,1) 0%, rgba(0,0,0,0.9136029411764706) 35%);
}
.password_gen_wrap h1{
  background: radial-gradient(circle, rgba(76,76,79,1) 0%, rgba(0,0,0,0.9136029411764706) 35%);
  padding: 20px;
  text-align: center;
  font-weight: 600;
  color: white;
}
.password_input_wrap{

 display: flex;
 justify-content: space-evenly;
}
.password_input_wrap input{
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
  width: 70%;
  background: gray;
  color: white;
  border: none;
  outline: none;
}
.password_input_wrap button{
  padding: 20px;
  font-size: 22px;
  font-weight: 500;
  background-color: orangered;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
.password_btns{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  padding: 20px 10px;
  color: orangered;
  font-size: 22px;
  font-weight: 400;
  background-color: black;
}